html,
body,
header,
main,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
div,
span,
p,
button,
a,
table,
thead,
tbody,
tr,
th,
td {
  background: transparent;
  border: 0;
  border-radius: 0;
  box-sizing: border-box;
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1;
  margin: 0;
  padding: 0;
  text-align: center;
}

html {
  height: 100%;
}

body {
  font-size: 0.9rem;
  min-height: 100%;
  padding: 0 20px;
  position: relative;
}

a,
a:visited,
a:active,
a:focus {
  color: inherit;
  letter-spacing: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

span {
  color: inherit;
  letter-spacing: inherit;
}

button,
button:hover,
button:active,
button:focus {
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

thead,
tbody,
tfoot,
tr,
th,
td,
caption {
  color: inherit;
  letter-spacing: inherit;
}
