*:focus {
  box-shadow: 0 0 3px 3px rgba(65, 180, 250, 0.8);
  outline: none;
}

html {
  background: #fff;
  background: linear-gradient(120deg, rgba(153, 153, 153, 0.1), #fff) fixed;
}
.first-container {
    border:2px solid pink;
    padding: 100px;
}

header {
  padding-top: 3%;
}

h1 {
  color: #E79F8F;
  font-family: Boogaloo, Helvetica, Arial, sans-serif;
  font-size: 1.8rem;
  letter-spacing: 4px;
  line-height: 1.3;
  margin-bottom: 20px;
  text-transform: uppercase;
}

h2 {
  font-family: Boogaloo, Helvetica, Arial, sans-serif;
  font-size: 1.4rem;
  letter-spacing: 2px;
  line-height: 1.3;
}

main {
  padding-top: 20px;
  padding-bottom: 70px;
}

p {
  line-height: 1.2;
  margin: 15px 0;
}

button,
button:hover,
button:active,
button:focus {
  background: #E79F8F;
  border-radius: 3px;
  color: #fff;
  margin: 0 3px;
  padding: 10px;
  width: 80px;
}

button .far {
  display: block;
  margin-bottom: 5px;
  pointer-events: none;
}

#modal {
  background: rgba(0, 0, 0, 0.75);
  bottom: 0;
  height: 100%;
  left: 0;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}

.modal-content {
  animation: slideIn 0.3s ease-out;
  background: #fff;
  border-radius: 5px;
  margin: 10% auto 0;
  max-width: 500px;
  width: 70%;
}

@keyframes slideIn {
  from {
    margin-top: 0;
  }
  to {
    margin-top: 10%;
  }
}

.modal-body {
  padding: 25px;
}

.start,
.start:hover,
.start:active,
.start:focus {
  width: 100px;
}

.result {
  font-style: italic;
}

table {
  margin: 30px auto 0;
}

th {
  background: #e6e6e6;
  border-bottom: 1px solid #333;
  font-weight: 600;
  padding: 6px 12px;
}

td {
  font-size: 1.2rem;
  padding: 6px;
}

footer {
  background: #e6e6e6;
  bottom: 0;
  font-size: 0.8rem;
  left: 0;
  letter-spacing: 2px;
  padding: 14px 0;
  position: absolute;
  right: 0;
  width: 100%;
}

footer a,
footer a:visited,
footer a:hover,
footer a:active,
footer a:focus {
  color: #006699;
}
